**Comprehensions**
- The comprehension mean's reduse the lines of code
- `They are two Different Types that are : `

   - 1. list Comprehension
   - 2. Dictionary comprehension

* In comprehension 3 different modules that are :    
        1. for loop and print(only 1 loop and print)
        2. for loop and if and print
        3. for loop and if and else and print

**List Comprehension**


---
modules :

`1. -> syntax : [<print_area> <For_loop_area>]`

`2. -> syntax : [<print_area> <for_loop_area> <if-area>] `

`3. -> syntax : [<if_print> <if_area> <else> <else_print><for_loop_area>]`

In [3]:
# Module 1
#Without Comprehension
for i in range(11,15):
  print(f'numbers {i}')

numbers 11
numbers 12
numbers 13
numbers 14

In [2]:
# Module 1
#with Comprehension

print([f'numbers : {i}' for i in range(11,15)])

['numbers : 11', 'numbers : 12', 'numbers : 13', 'numbers : 14']

In [5]:
# module 2
# Without Comprehension
for i in range(11,17):
  if i % 2 ==0:
    print(f'Even : {i}')

Even : 12
Even : 14
Even : 16

In [6]:
# module 2
# with comprehension
print([f'Even :{i}' for i in range(11,17) if i % 2 ==0])

['Even :12', 'Even :14', 'Even :16']

In [7]:
#module 3
# without Comprehension
for i in range(11,20):
  if i % 2 ==0 :
    print(f'Even : {i}')
  else:
    print(f'Odd : {i}')

Odd : 11
Even : 12
Odd : 13
Even : 14
Odd : 15
Even : 16
Odd : 17
Even : 18
Odd : 19

In [8]:
# with Comprehension
print([f'Even : {i}' if i % 2==0 else f'Odd : {i}' for i in range(11,20)])

['Odd : 11', 'Even : 12', 'Odd : 13', 'Even : 14', 'Odd : 15', 'Even : 16', 'Odd : 17', 'Even : 18', 'Odd : 19']

**Dictionary Comprehension**
 - same module but we can the list representetion to dictionary representation

 ---
modules :

`1. -> syntax : {<print_area> <For_loop_area>}`

`2. -> syntax : {<print_area> <for_loop_area> <if-area>} `

`3. -> syntax : {<if_print> <if_area> <else> <else_print><for_loop_area>}`

In [12]:
# module 1
# without Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}
for i in Fruits:
  Fruits[i]=Fruits[i]+20
print(Fruits)

{'apple': 40, 'banana': 50, 'carrot': 70}

In [15]:
# with comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}

print({i:Fruits[i]+20 for i in Fruits})

{'apple': 40, 'banana': 50, 'carrot': 70}

In [22]:
#Module 2
# without Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}
d={}
for i in Fruits:
  if Fruits[i]>25:
    d[i]=Fruits[i]
print(d)

{'banana': 30, 'carrot': 50}

In [23]:
# with Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}

print({i:Fruits[i]+20 for i in Fruits if Fruits[i]>25})

{'banana': 50, 'carrot': 70}

In [24]:
#Module 3
# without Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}
d={}


for i in Fruits:
  if Fruits[i]>25:
    d[i]=Fruits[i]*3
  else:
    d[i]=Fruits[i]*2

print(d)

{'apple': 40, 'banana': 90, 'carrot': 150}

In [27]:
# with Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}

print({i:Fruits[i]*3 if Fruits[i]>25 else Fruits[i]*2 for i in Fruits})

{'apple': 40, 'banana': 90, 'carrot': 150}

**Speed Between with Comprehension and Without Comprehension**

In [30]:
#Without Comprehension
import time
Starting_time=time.time()
#Module 3
# without Comprehension
Fruits = {'apple':20,'banana':30,'carrot':50}
d={}


for i in Fruits:
  if Fruits[i]>25:
    d[i]=Fruits[i]*3
  else:
    d[i]=Fruits[i]*2

print(d)
Fruits = {'apple':20,'banana':30,'carrot':50}

print({i:Fruits[i]*3 if Fruits[i]>25 else Fruits[i]*2 for i in Fruits})
print('Time Speed of time : ', time.time() - Starting_time)

{'apple': 40, 'banana': 90, 'carrot': 150}
{'apple': 40, 'banana': 90, 'carrot': 150}
Time Speed of time :  0.0005059242248535156

In [29]:
import time
#with Comprehension
Endting_time=time.time()
Fruits = {'apple':20,'banana':30,'carrot':50}

print({i:Fruits[i]*3 if Fruits[i]>25 else Fruits[i]*2 for i in Fruits})
print(Endting_time)

{'apple': 40, 'banana': 90, 'carrot': 150}
1741336546.9072373