# **Control Statements**
- `For loop : how many times we want we can rotate`
- `Iteration : Iteration means nothing but rotation`
- `while loop`
# **Conditional statements**
- `if`
- `else`
- `elif`
- `break`

In [70]:
for i in range(11,16):
  print("Gm")

Gm
Gm
Gm
Gm
Gm

In [69]:
for i in range(11,15):
  pass
print('gm')

gm

- `pass : pass the doing the nothing and go to the next line `

In [72]:
for i in range(11,15):
  print(i+20)
print('Good Evening')

31
32
33
34
Good Evening

In [73]:
print("I am from Hyderbad")
print("I am from Chennai")
a=12
print(a)
for i in range(18,25):
  print(i)
print("I am from Chennai")

I am from Hyderbad
I am from Chennai
12
18
19
20
21
22
23
24
I am from Chennai

In [75]:
for i in range(11,18):
  print(i,end="->")

11->12->13->14->15->16->17->

## **Conditional Statements**
- `If`
- `else`
- `elif`

In [77]:
money=120000
iphone=80000

if money > iphone:
  print('i can buy iphone')

i can buy iphone

In [78]:
money=20000
iphone=80000

if money > iphone:
  print('i can buy iphone')
else:
  print('money is not sufficient')

money is not sufficient

In [79]:
money=120000
iphone=80000

if money > iphone:
  print('i can buy iphone')
else:
  print('money is not sufficient')

i can buy iphone

In [81]:
money=27000
iphone=80000
samsang=50000
vivo=25000

if money > iphone:
  print('i can buy iphone')
elif money > samsang:
  print('i can buy samsang')
elif money > vivo:
  print('i can buy vivo')
else:
  print('money is not sufficient')

i can buy vivo

In [82]:
money=60000
iphone=80000
samsang=50000
vivo=25000

if money > iphone:
  print('i can buy iphone')
elif money > samsang:
  print('i can buy samsang')
elif money > vivo:
  print('i can buy vivo')
else:
  print('money is not sufficient')

i can buy samsang

In [83]:
money=30000
iphone=80000
samsang=50000
vivo=25000

if money > iphone:
  print('i can buy iphone')
elif money > samsang:
  print('i can buy samsang')
elif money > vivo:
  print('i can buy vivo')
else:
  print('money is not sufficient')

i can buy vivo

In [85]:
money=90000
iphone=80000
samsang=50000
vivo=25000

if money > iphone:
  print('i can buy iphone')
elif money > samsang:
  print('i can buy samsang')
elif money > vivo:
  print('i can buy vivo')
else:
  print('money is not sufficient')
print("i from hyderbad")

i can buy iphone
i from hyderbad

In [87]:
# finding the Even numbers
for i in range(11,21):
  if i%2==0:
    print(f'Even :{i}')
  else:
    print(f'Odd :{i}')

Odd :11
Even :12
Odd :13
Even :14
Odd :15
Even :16
Odd :17
Even :18
Odd :19
Even :20

In [88]:
for i in range(11,14):
  print('india')
  print('usa')
  print('uk')
  print('-------')

india
usa
uk
-------
india
usa
uk
-------
india
usa
uk
-------

In [91]:
# finding the Even numbers
for i in range(11,21):
  if i%2==0:
    print(f'Even :{i}',end=' ')
  else:
    print(f'Odd :{i}')

Odd :11
Even :12 Odd :13
Even :14 Odd :15
Even :16 Odd :17
Even :18 Odd :19
Even :20

In [97]:
# find the given is a perfect number or not
n=6
c=0
for i in range(1,n):
  if n %i ==0:
    c=c+i
if n==c:
  print(f'{n} is a perfect number')
else:
  print(f'{n} is not a perfect number')

6 is a perfect number

In [98]:
# find the given is a perfect number or not
n=8
c=0
for i in range(1,n):
  if n %i ==0:
    c=c+i
if n==c:
  print(f'{n} is a perfect number')
else:
  print(f'{n} is not a perfect number')

8 is not a perfect number

In [65]:
#String
a="data science"
c=""
for i in a:
  if i not in "aeiouAEIOU":
    c+=i
print(c)

dt scnc

In [4]:
a='123'
print(a.isnumeric())

True

In [8]:
a="Scince1865"
c=0
for i in a:
  if i.isnumeric():
    c=c+int(i)
print(c)

20

In [9]:
#list
a=[10,20,50,90,5]
for i in a:
  print(i+20)

30
40
70
110
25

In [14]:
a=[10,20,50,90,5]
c=1
for i in a:
  c*=i
  print(c)

10
200
10000
900000
4500000

In [26]:
a=[10,20,50,90,5]
for i in a:
  print(str(a.index(i))+str(i),end=" ")

010 120 250 390 45

In [28]:
a=[10,20,50,90,5]
for i,j in enumerate(a):
  print(str(i)+str(j),end=" ")

010 120 250 390 45

In [30]:
#tuple
a=(10,21,19,54,43)

for i in a:
  if i %2 ==0:
    print(f'Even : {i}')

Even : 10
Even : 54

In [34]:
#dict :- in dict for loop will collect only keys
fruits={'apple':200,'banana':300,'carrot':400,'graphes':500}
for i in fruits:
  print(i)
  print(fruits[i])
  print(i,fruits[i])

apple
200
apple 200
banana
300
banana 300
carrot
400
carrot 400
graphes
500
graphes 500

In [42]:
#dict :- in dict for loop will collect only keys
fruits={'apple':180,'banana':160,'carrot':400,'graphes':500}
for i in fruits:
  if fruits[i]>200:
    fruits[i]=fruits[i]*200
  else:
    fruits[i]=fruits[i]*3
print(fruits)

{'apple': 540, 'banana': 480, 'carrot': 80000, 'graphes': 100000}

In [44]:
fruits={'apple':20,'banana':50}

fruits['apple']=100
fruits['graphes']=100

print(fruits)

{'apple': 100, 'banana': 50, 'graphes': 100}

In [49]:
#nested loops :- loop in a loop
for i in range(11,16):
  for j in range(11,16):
    print(i,j)

11 11
11 12
11 13
11 14
11 15
12 11
12 12
12 13
12 14
12 15
13 11
13 12
13 13
13 14
13 15
14 11
14 12
14 13
14 14
14 15
15 11
15 12
15 13
15 14
15 15

In [63]:
for i in range(11,16):
  for j in range(11,16):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [64]:
a=int(input("Enter a number here : "))
for i in range(1,a+1):
  b=i*"* "
  print(b)

Enter a number here : 5
*
* *
* * *
* * * *
* * * * *