# **Dictionary**


---



1.   The dictionary will be represent with the -> {} but contains the Key value and pair
2.   Key means -> Key nothing but a Column name & value means -> inside column data
3.   The Dict is don't have the index concept -> Then there is no index concept no slicing and skipping concept is not there
4.  The dict is to created the data in the backend but show the table format we need to use the pandas liabrary
5.  In the dict have the keys and values -> key [column name], value [is to de inside the data] , we can access the value using the column name(key)

In [1]:
# single value
a={'name':'John',"age":25,'salary':1200}
print(a)

{'name': 'John', 'age': 25, 'salary': 1200}

In [3]:
# Multipule value
a={'name':['john','peter','mechal'],"age":[25,30,56],'salary':[1200,1500,1800]}
print(a)

{'name': ['john', 'peter', 'mechal'], 'age': [25, 30, 56], 'salary': [1200, 1500, 1800]}

In [4]:
#access values#
a={'name':['john','peter','mechal'],"age":[25,30,56],'salary':[1200,1500,1800]}
print(a['age'])

[25, 30, 56]

In [5]:
#access column we can give the index value
a={'name':['john','peter','mechal'],"age":[25,30,56],'salary':[1200,1500,1800]}
print(a['age'][1])

30

#### Same key columns in the dict
- `The same (column) the values will be override the last value what we paseed`
- `In place of values we can pass anything [any datatype]`
- `In place of key we can pass only immutable datatype mutable datatype are not possible in the dictionary`

In [6]:
# same column
a={'name':'John',"age":25,'salary':1200,'age':50}
print(a)

{'name': 'John', 'age': 50, 'salary': 1200}

In [7]:
# in place of values
a={'name':'John',"age":25.5,'salary':(20,30),'emi':{20,50}}
print(a)

{'name': 'John', 'age': 25.5, 'salary': (20, 30), 'emi': {50, 20}}

In [9]:
# in place of values
a={1:'john',20.2:20.2,'age':30,(20,50):80,[20,30]:80}
print(a)

TypeError: unhashable type: 'list'

# **Dictionary is to be mutable or immutable -> Prove it**
---
1.  Mutable means -> we can increase the memory and decrease the memory
2.  Immutable means -> we cann't increase the memory and decrease the memory

In [11]:
#Rule : 1 Trying to increase the memory : (The memory will bw incresed)
fruits={'apple':100,'banana':200,'carrot':300}
print(f'before {fruits}')

fruits['graphes']=500
print(f'after {fruits}')

before {'apple': 100, 'banana': 200, 'carrot': 300}
after {'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

In [14]:
#Rule : 2 Trying to Decrease the memory : (The memory will bw Decrease)
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
print(f'before {fruits}')

del fruits['graphes']
print(f'after {fruits}')

before {'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
after {'apple': 100, 'banana': 200, 'carrot': 300}

## **From the above operations we can sy that the dict is to be mutable**

### **Built in Functions**


---



*   Get
*   Update
*   Pop
*   PopItem
*   Keys
*   Values
*   Items
*   Clear
*   Copy

In [15]:
# Manual calling
a={'name':['john','peter','mechal'],"age":[25,30,56],'salary':[1200,1500,1800]}
print(a['age'])

[25, 30, 56]

In [18]:
#using Built in function
a={'name':['john','peter','mechal'],"age":[25,30,56],'salary':[1200,1500,1800]}
print(a.get('age'))

[25, 30, 56]

In [19]:
# manual
a={'name':'John',"age":25,'salary':1200,'age':50}
print(a)

{'name': 'John', 'age': 50, 'salary': 1200}

In [26]:
# using the Update function
a={'name':'John',"age":25,'salary':1200,}

a.update({'salary':1800})
print(a)

{'name': 'John', 'age': 25, 'salary': 1800}

In [29]:
# Pop : The pop will be take the column name by user and they we will be removed
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
print(f'before Pop() : {fruits}')

fruits.pop('carrot')
print(f'after Pop() : {fruits}')

before Pop() : {'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
after Pop() : {'apple': 100, 'banana': 200, 'graphes': 500}

In [30]:
# Popitem : The popitem will be take the last colimn
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
print(f'before Popitem() : {fruits}')

fruits.popitem()
print(f'after Popitem() : {fruits}')

before Popitem() : {'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
after Popitem() : {'apple': 100, 'banana': 200, 'carrot': 300}

In [31]:
# Keys : The Keys Function will be give the keys (columns names)
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

print(fruits.keys())

dict_keys(['apple', 'banana', 'carrot', 'graphes'])

In [32]:
# values : The values Function will be give the values (inside data columns)
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

print(fruits.values())

dict_values([100, 200, 300, 500])

In [33]:
# items : The items Function will be given both the key_values
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

print(fruits.items())

dict_items([('apple', 100), ('banana', 200), ('carrot', 300), ('graphes', 500)])

In [34]:
# copy : The copy Function will have 2 types Deep copy and Shallow copr
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
b= fruits # Deep copy

print(fruits)
print(b)

print(id(fruits))
print(id(b))

fruits['orenge']=150

print(fruits)
print(b)

{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
139764597939968
139764597939968
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500, 'orenge': 150}
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500, 'orenge': 150}

In [35]:
# copy : The copy Function will have 2 types Deep copy and Shallow copr
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
b= fruits.copy() # Shallow copy

print(fruits)
print(b)

print(id(fruits))
print(id(b))

fruits['orenge']=150

print(fruits)
print(b)

{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}
139764607964480
139764596979968
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500, 'orenge': 150}
{'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

In [39]:
# Clear : The clear Function will be column data and variable is to be alive
fruits={'apple': 100, 'banana': 200, 'carrot': 300, 'graphes': 500}

fruits.clear()
print(fruits)

{}