### **Exceptional_Handling**
- Exception means Error - > We ar going to handle with the Exception(Error)
- Exceptional handling is mainly used to optimeze the Error not slove the Error

**Some Commman Errors**
1. Syntax Error

2.  ZeroDivision Error
3.   Name Error
4.  Value Error
5.  Indentation Error
6.  Filenot Found Error

In [30]:
a='kamal'
print(a)

kamal

In [1]:
# Syntax Error
10a="kamal"
print(10a)

SyntaxError: invalid decimal literal (<ipython-input-1-f77bd5089942>, line 2)

In [29]:
10/5

2.0

In [2]:
# ZeroDivision Error
10/5
5/0

ZeroDivisionError: division by zero

In [28]:
city='hyd'
print(city)

hyd

In [3]:
#name Error
city="Hyd"
print(CITY)

NameError: name 'CITY' is not defined

In [26]:
a='123'
print(int(a))

123

In [4]:
# ValueError
a="kamal123"
print(int(a))

ValueError: invalid literal for int() with base 10: 'kamal123'

In [25]:
for i in range(11,15):
  print(i)

11
12
13
14

In [5]:
#Indentation Error
for i in range(11,15):
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (<ipython-input-5-0ba6b04a0640>, line 3)

In [8]:
from os import read
#File not Found Error
a=open("sharuk.txt","r")
print(a.read())
a.close()

FileNotFoundError: [Errno 2] No such file or directory: 'sharuk.txt'

- ` For optimizing the error : we have Exceptional Handling`
- `1. Try Block |  2. Except block`

In [9]:
try:
  a=10
  b=2
  print(a/b)
except:
  pass

5.0

In [11]:
try:
  a=10
  b=0
  print(a/b)
except Exception as e:
  print(e)

division by zero

In [12]:
try:
  for i in range(11,21):
    if i % 2 ==0:
      print(f'Even {i}')

except Exception as a:
  print(a)

Even 12
Even 14
Even 16
Even 18
Even 20

In [13]:
try:
  for i in range(11,21):
    if i % 2 ==0:
      print(f'Even {i/0}')

except Exception as a:
  print(a)

division by zero

**Finally**
- ` The finally is to be like the print`

In [14]:
try:
  for i in range(11,21):
    if i % 2 ==0:
      print(f'Even {i}')

except Exception as a:
  print(a)

finally:
  print("i will run without Error")

Even 12
Even 14
Even 16
Even 18
Even 20
i will run without Error

In [15]:
try:
  for i in range(11,21):
    if i % 2 ==0:
      print(f'Even {i/0}')

except Exception as a:
  print(a)

finally:
  print("i will run with Error")

division by zero
i will run with Error

In [16]:
# wee can also Access the Error in the Errors name
try:
  for i in range(11,21):
    if i%2==0:
      print(f'Even : {i/0}')

except NameError as a:
  print(a)
except ZeroDivisionError as e:
  print(e)
except ValueError as v:
  print(v)

division by zero

In [21]:
import sys

In [23]:
# we have to sys library to find the line number and  type Error

try:
  for i in range(11,21):
    if i%2==0:
      print(f'Even : {i/0}')
except Exception as a:
  print(f'Error msg from [try] block : {a}')
  er_type,er_msg,er_lineno=sys.exc_info()
  print(f'Error type : {er_type}')
  print(f'Error line no :{er_lineno.tb_lineno}')
  print(f'Error msg From try block :{er_msg}')

Error msg from [try] block : division by zero
Error type : <class 'ZeroDivisionError'>
Error line no :6
Error msg From try block :division by zero

In [24]:
try:
  for i in range(11,21):
    if i%2==0:
      print(f'Even : {i/0}')
except Exception as a:

  er_type,er_msg,er_lineno=sys.exc_info()
  print(f'Error type {er_type} | Error msg from try block : {er_msg} | Error line number : {er_lineno.tb_lineno}')

Error type <class 'ZeroDivisionError'> | Error msg from try block : division by zero | Error line number : 4