## **Functions ->Which is used to Excute a Specific Task.**
- `The Functions Concept in python we are going to learn reusability of the code`
        In python we have the 2 types of functions:
           1. Built in Functions -> Developed By Commutity
           2. User defined functions -> User requirement user defined the function(Reusability)

**In user defined functions we have 2 types**

- Non-parameter Functions
- Parameter Functions

**Non_Parameter Function**
- We can use only understand the concept we can't pass the values in functions
- The paranthasis is Empty means it's called the Non-parameter function

In [ ]:
#Non parameter Function
def ram():
  print("Good Morning")

ram()# calling the Function

Good Morning

In [ ]:
def func():
  a=10
  print(a+20)

func()# calling the function

30

**Parameter Function**
- We can use only understand the concept we can pass the values in functions
- The paranthasis is contains the values it's called the Parameter function
- once we defined the function we call the function in multiple times
- How many no.of variables assigned the Function input of the user same no.of variables we pass the user

In [ ]:
#Two variables are assigned the function
def kiran(a,b):
  print(a+b)

kiran(10,20)#Calling the function

30

In [ ]:
kiran(1,2)

3

In [ ]:
kiran(100,200)

300

In [ ]:
kiran(1)

TypeError: kiran() missing 1 required positional argument: 'b'

**without using function we Access can only one time**

In [3]:
# Perfect number Program
# The number individual digits divisables are equal to the original number

n=int(input("Enter a number here : "))
c=0
for i in range(1,n):
  if i % 2== 0:
    c=c+i

if c==n :
  print("perfect number")
else:
  print("not a perfect Number")

Enter a number here : 14
not a perfect Number

**with using function we can Access the Program multiple times**

In [17]:
# Perfect number Program
# The number individual digits divisables are equal to the original number
def kumar(n):
  c=0
  for i in range(1,n):
    if i % 2 == 0:
      c=c+i
  if n == c :
    print(f'Perfect Number : {n}')
  else:
    print(f'Not a perfect Number : {n}')



kumar(6)

Perfect Number : 6

In [19]:
kumar(5)

Not a perfect Number : 5

In [20]:
kumar(143)

Not a perfect Number : 143

### **Difference between the Global Variable and local variable**
**Global Variable :** ` we can use the inside the Function and Outside the Function`

**Local Variable :**`We can use the inside the function` -> ` and we convert the local Variable to Global variable`

In [3]:
#Global Variable
p=500 # Global variable (any where we can access the variable)
def func(p):
  print(f'I am from  inside the function : {p}')

func(p)
print(f'I am from outside the function : {p}')

I am from  inside the function : 500
I am from outside the function : 500

In [4]:
# local variable

def kumar():
  m=900 # local variable we can access only the inside Function only
  print(f'I am from inside the function : {m}')
kumar()

print(f'I am from outside the dunction: {m}')

I am from inside the function : 900

NameError: name 'm' is not defined

In [7]:
# local variable Converting to the Global variable

def kumar():
  global m
  m=900 # local variable we can access only the inside Function only

  print(f'I am from inside the function : {m}')
kumar()

print(f'I am from outside the dunction: {m}')

I am from inside the function : 900
I am from outside the dunction: 900

**Return**
- `We cann't use the with in the function print we can use the return statement`

In [8]:
def add(a,b):
  c=a+b
  return c
sol=add(10,30)# Calling the Function
print("The sum of the two numbers : ",sol)

The sum of the two numbers :  40

In [9]:
sol=add(143,546)
print("The sum of the two numbers : ",sol)

The sum of the two numbers :  689

In [11]:
def Even(a,b):
  c=[]
  for i in range(a,b):
    if i % 2 ==0:
      c.append(i)
  return c
sol = Even(11,17)
print("The Even Numbers: ",sol)

The Even Numbers:  [12, 14, 16]

In [12]:
sol=Even(1,50)
print("The Even Numbers: ",sol)

The Even Numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [13]:
sol=Even(20,27)
print("The Even numbers: ",sol)

The Even numbers:  [20, 22, 24, 26]