## Basics of python
- `Data Types`
- `Varibles`
-`Type Conversation`
-`Print conditions`
-`String`
-`List`
-`Tuple`
-`Dictionary`
-`set`
-`Keywords`
-`Built-in Functions`
-`Liabries`
-`Operations`

# Data types


---


1.   String - The string is contains the quote's and anything will be write in the quote's that will string Ex:'Kumar',"John","""Peter"""
2.   Integer - The integer Means the Whole Numbers Ex:12,45,78
3.   Float - The Float is Contains the Decimal Numbers Ex:12.20,15.3

In [4]:
#String
a='kumar'
print(a)
print(type(a))
b="John"
print(b)
print(type(b))
c="""Peter"""
print(c)

print(type(c))

kumar
<class 'str'>
John
<class 'str'>
Peter
<class 'str'>

In [5]:
# Interger
a=125
print(a)
print(type(a))

125
<class 'int'>

In [6]:
#Float
a=12.3
print(a)
print(type(a))

12.3
<class 'float'>

# Varibles
---
- ` Variable is nothing but contain the right side value assign to the left side value using (=) equal to symbol`
## Rules


1.   The variable is does not start with the numbers. Ex: 1abc,8kumer
2.   The varible is does not start with punchuvations. Ex:!,@,#,$....
3.   The varible is does not contain the multiple words and we can write multiple words please the underscore(_). Ex:Sai kumar,John_peter
4.   The varible is be case sensitive. Ex: sai,Kumer

In [9]:
#Rule: 1
1abc=12
print(1abc)

SyntaxError: invalid decimal literal (<ipython-input-9-b9d8952c29da>, line 1)

In [12]:
#Rule: 2
$abc='kuamr'
print(!abc)

SyntaxError: invalid syntax (<ipython-input-12-b724ba5b780c>, line 1)

In [13]:
#Rule: 3
sai kumar= "Ram"
print(sai Kumar)

SyntaxError: invalid syntax (<ipython-input-13-f62c16905be2>, line 1)

In [15]:
#Rule: 3
_sai_peter='peter'
print(_sai_peter)

peter

In [18]:
var=25
print(var)
print()
print(Var)

25

NameError: name 'Var' is not defined

**Type Convertion**
- `1. Int - float --> we can convert the integer to float.`
-`2.  Int - str --> we can convert the integer to string.`
- `3. float - str --> we can convert the float to string. `
-`4.  float - Int  --> we can convert the float to int.`
- `5. str - int --> we can convert the  string to integer. `
-`6.  str - float --> we can convert the string to float.`

In [24]:
#Rule: 1
a=12
print(a)
print(type(a))
print(type(float(a)))

12
<class 'int'>
<class 'float'>

In [23]:
#Rule: 2
a=12
print(a)
print(type(a))
print(type(str(a)))

12
<class 'int'>
<class 'str'>

In [25]:
#Rule: 3
a=12.0
print(a)
print(type(a))
print(type(str(a)))

12.0
<class 'float'>
<class 'str'>

In [26]:
#Rule: 4
a=12.0
print(a)
print(type(a))
print(type(int(a)))

12.0
<class 'float'>
<class 'int'>

In [27]:
#Rule: 5
a="12"
print(a)
print(type(a))
print(type(int(a)))

12
<class 'str'>
<class 'int'>

In [28]:
#Rule: 6
a="12"
print(a)
print(type(a))
print(type(float(a)))

12
<class 'str'>
<class 'float'>

**Print Conditions**


---


 `1. Using comma(,) Operator used the 20 % of coder's.`

 `2. using plus(+) operator wii not real time the plus operator only work string and give the 1 tab space `

 `3. using with identifires represent with the different way`

1.   int -- %d
2.   float -- %f
3.   str -- %s

In [29]:
#Rule: 1
a="i am a student "
print(a,"kumar")

i am a student  kumar

In [34]:
#Rule: 2
print("ram "+"kumar")

ram kumar

In [35]:
#Rule: 2
print("ram "+23)

TypeError: can only concatenate str (not "int") to str

In [38]:
#Rule: 3
f=29

print("My name is john and my age is %d"%(f))

My name is john and my age is 29

In [40]:
#Rule: 3
a='Peter'

print("My name is %s and my age is 25"%(a))

My name is Peter and my age is 25

In [41]:
#Rule: 3
b=20.2

print("My name is john and this product price is %f"%(b))

My name is john and this product price is 20.200000