# **Lambda Functions**

- `lambda function is also known as ananymous function`
- `ananymous function : A Function without a function `
- ` Syntax : lambda Arguments:Expressins`

In [1]:
c= lambda x,y : x* y

print(c(10,20)) # calling function

200

In [2]:
# Example using Function
def kumar(b):
  return b*b

sol=kumar(5)
print(sol)#Calling

25

In [3]:
# Using the lambda Function

m=lambda x:x*x

print(m(5)) #calling

25

**Table**
- The multiplication Table we can write the code the 3 different types

In [4]:
# Multiplication Table : Method 1
n=2
for i in range(1,11):
  print(f'{n}*{i}= {n*i}')

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

In [5]:
# Multiplication Table : Method 2 (using function)
def kumar(n):
  for i in range(1,11):
    print(f'{n}*{i}= {n*i}')

kumar(2)

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

In [6]:
# Multiplication Table : Method 3 (using lambda Function)
c= lambda x,y :x*y
n=2
for i in range(1,11):
  print(f'{n}*{i}={c(n,i)}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

**Map Function**
 - syntax : map(Function name, iterables)
 - The map Function will be return the condition true print what is to be user given and else print the user given value the user doesn't given print the none value

In [10]:
def kumar(b):
  if b % 2 ==0:
    return b
  else:
    return "Not Found"

sol=map(kumar,[10,11,12,13,14,15,16,17,20])
print(list(sol))

[10, 'Not Found', 12, 'Not Found', 14, 'Not Found', 16, 'Not Found', 20]

In [12]:
# lambda Fumction -> The Lambda Function Returns the Boolean values True or False Only
sol=map(lambda x : x%2 == 0,[10,11,12,13,14,15])
print(list(sol))

[True, False, True, False, True, False]

In [13]:
# Without using the else condition
def kumar(b):
  if b % 2 ==0:
    return b


sol=map(kumar,[10,11,12,13,14,15,16,17,20])
print(list(sol))

[10, None, 12, None, 14, None, 16, None, 20]

**Filter Fumction**
- Syntax : filter(Fumction name: Iterables)
- The Filter contition retuns the only condition True values

In [16]:
def kumar(b):
  if b% 2 ==0:
    return b


sol=filter(kumar,[10,11,12,13,14])
print(list(sol))

[10, 12, 14]

In [20]:
#using the lambda function

c=filter(lambda x:x%2==0,[10,11,12,13,14])
print(list(c))

[10, 12, 14]

**Reduse Function**
- The Reduse function we use the import the Functool library then we can use

In [22]:
import functools
print(functools.reduce(lambda x,y : x+y,[10,11,12,13,14]))

60

**Combinations**


---

**map with filter**

In [24]:
a=map(lambda x:x+10,filter(lambda x: x%2==0,[10,11,12,13,14]))
print(list(a))

[20, 22, 24]

**Filter with Map**

In [26]:
b=filter(lambda x:x%2==0,map(lambda x:x+5,[10,11,12,13,14]))
print(list(b))

[16, 18]

**Reduse with map and filter**

In [27]:
c=(functools.reduce(lambda x,y:x+y,map(lambda x:x+10,filter(lambda x:x%2==0,[10,11,12,13,14]))))
print(c)

66