**Python_set**


---

- `The set is going to represent with the Flower Brackets ->{}`
- `The set is to be memory allocation is to be unordered pair when memory allocation`
- `since there is no indexing concept and no slicing concept , no skipping concept`
- `The set won't be allow the duplicate values`
- `The set is to be mutable but it donn't allow the inside it....`

In [1]:
a={10,20,30,40}
print(a)

{40, 10, 20, 30}

In [2]:
a={10,20,30,40}
b=a[4]
print(b)

TypeError: 'set' object is not subscriptable

In [3]:
a={10,20,30,40,10,20,50}
print(a)

{50, 20, 40, 10, 30}

In [4]:
a={10,20,30,40,10,20,50,[110,220,330]}
print(a)

TypeError: unhashable type: 'list'

**Built_in_Functions**

---
- `we use the Built in function we have prove the Set is to be mutable or immutable`

### Increasing functions


*   add
*   Update

### Decreasing funtions
*   pop
*   discard
*   remove

### Some specific Functions
*   Clear
*   Count
*   union
*   Intersection

## **Increasing Functions**

In [5]:
#add : The add function in the set it will be add the only one value in varilable it will add randomly in the set
a={10,20,30,40}
a.add(100)
print(a)

{100, 40, 10, 20, 30}

In [6]:
#add : The add function in the set it will be add the only one value in varilable it will add randomly in the set
a={10,20,30,40}
a.add(100,200)
print(a)

TypeError: set.add() takes exactly one argument (2 given)

In [7]:
#Update : The update function will be add multiple values in the set it will be added the randomly in the set
a={10,20,30,40}
a.update([100,200,300])
print(a)

{100, 40, 200, 10, 300, 20, 30}

In [8]:
#Update : The update function will be add multiple values in the set it will be added the randomly in the set
a={10,20,30,40}
a.update(100,200,300)
print(a)

TypeError: 'int' object is not iterable

# **Decreasing Functions**

In [9]:
#pop : The pop function will be remove the one value in randomly
b={10,20,30,40,50,60}
b.pop()
print(b)

{20, 40, 10, 60, 30}

In [10]:
#pop : The pop function will be remove the one value in randomly
b={10,20,30,40,50,60}
b.pop(50)
print(b)

TypeError: set.pop() takes no arguments (1 given)

In [11]:
#discard : The discard function will be remove the when value inside the varilabe and -> its not available in the variable then slient the function
b={10,20,30,40,50,60}
b.discard(50)
print(b)

{20, 40, 10, 60, 30}

In [12]:
#discard : The discard function will be remove the when value inside the varilabe and -> its not available in the variable then slient the function
b={10,20,30,40,50,60}
b.discard(500)
print(b)

{50, 20, 40, 10, 60, 30}

In [13]:
#remove : The remove function will be remove the when value inside the varilabe and -> its not available in the variable then throgh the Error of the variale
b={10,20,30,40,50,60}
b.remove(50)
print(b)

{20, 40, 10, 60, 30}

In [14]:
#remove : The remove function will be remove the when value inside the varilabe and -> its not available in the variable then throgh the Error of the variale
b={10,20,30,40,50,60}
b.remove(500)
print(b)

KeyError: 500

# **From the above Operations we can say the Set is to be Mutable**

# **Some specific Functions**

In [15]:
#copy : The copy function have the 2 operations in the copy 1. deep copy 2.shallow copy
#Deep copy
a={10,20,30,40,50}
b=a # Deep Copy

print(a)
print(b)

print(id(a))
print(id(b))

a.add(500)

print(a)
print(b)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
140693639121376
140693639121376
{50, 20, 500, 40, 10, 30}
{50, 20, 500, 40, 10, 30}

In [16]:
#copy : The copy function have the 2 operations in the copy 1. deep copy 2.shallow copy
#Shallow copy
a={10,20,30,40,50}
b=a.copy() # Shallow Copy

print(a)
print(b)

print(id(a))
print(id(b))

a.add(500)

print(a)
print(b)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
140693639119584
140693639122272
{50, 20, 500, 40, 10, 30}
{50, 20, 40, 10, 30}

In [17]:
#Clear : The clear Function will be remove the data from the set and the empty set will be print Ex:set() ,{} The flower Brackets is to be represent with the Dict
a={10,20,30,40}
a.clear()
print(a)

set()

In [18]:
#union : The union function will be remove the duplicates of the 2 variables and give the output
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
#Intersection : The Intersection function will give the comman values to the both variables
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
print(a.intersection(b))

{5, 6}