# **String**
- `The string contains the anything when we writing the quotes`
- `The string is to be immutable we can't increse or decrese the memory`

In [20]:
#indexing
# 1. Forward indexing
a="data science"
print(a[6])

c

In [21]:
#2.Backword indexing
a="data science"
print(a[-6])

c

In [28]:
#Slicing
a='Data Analysis'
print('The slicing between range : ',a[1:6])
print('The slicing is start point given and untill end will be print : ',a[1:])
print('The slicing is End point given and untill end point will came and print : ',a[:6])

The slicing between range :  ata A
The slicing is start point given and untill end will be print :  ata Analysis
The slicing is End point given and untill end point will came and print :  Data A

In [40]:
#Skiping
a='machine learing'

print('The skipping is to be [ S_P,E_P,Skipping_Value] : ',a[1:12:2])
print("These skipping is to be reverse the string : ",a[::-1])

The skipping is to be [ S_P,E_P,Skipping_Value] :  ahn er
These skipping is to be reverse the string :  gnirael enihcam

In [42]:
#Built-in-functions
dir(str)
#These function will be descrebe the all built in functions in string
print(len(dir(str)))

81

In [43]:
#Capitalise Function : These function will be convert the first letter capital and remaing small
a="i am working"
print(a.capitalize())

I am working

In [44]:
#title Function : These function will be convert the first letter capital of the all the words
a="i am working"
print(a.title())

I Am Working

In [45]:
#upper Function : These function will be convert the all letter upper case
a="i am working"
print(a.upper())

I AM WORKING

In [1]:
#lower Function : These function will be convert the all letter lower case
a="I AM WORKING"
print(a.lower())

i am working

In [3]:
#replace Function : These function will be Replace to the characters of the word
a="I AM WORKING"
print(a.replace('A','m'))

I mM WORKING

- `The below built-in functions gives the boolean value like True and False`

In [6]:
#islower Function : These function will be give the  all letter in lower case True will give
a="i am working"
print(a.islower())

True

In [7]:
#lower Function : These function will be convert the all letter lower case
a="I AM WORKING"
print(a.isupper())

True

In [11]:
#isalpha Function : These function will chack the all are alphabets or not
a="dataanalysis"
print(a.isalpha())

True

In [12]:
#isnumeric Function : These function will chack the all are numbers or not
a="123456"
print(a.isnumeric())

True

In [13]:
#isalnum Function : These function will be contains the alphbets and numbers
a="abc123456"
print(a.isalnum())

True

In [14]:
#startswith Function : These function will be takes the word will be starting or not
a="Data science"
print(a.startswith("D"))

True

In [15]:
#endswith Function : These function will be takes the word will be ending or not
a="Data science"
print(a.endswith("e"))

True

In [16]:
#count Function : These function will be takes the how many times are letter inthe word
a="Data science"
print(a.count("e"))

2

In [17]:
#index Function : These function will be takes the index value of the letter
a="Data science"
print(a.index("e"))

8

In [23]:
#membership Function : These function will be check the main string contains the substring
a="Data science"
print( "sci" in a)
print('ra' not in a)

True
True

In [27]:
#ord Function : These function will give the ascii value of the keyword letters
print(ord('a'))

97

In [28]:
#chr Function : These function will be take ascii value and give the character
print(chr(107))

k

In [63]:
#spilt functions : The split Function will be break the small pieces
a="i from india"
print(a.split())

['i', 'from', 'india']

In [64]:
#spilt functions : The split Function will be break the small pieces
a="i.from.india"
print(a.split("."))

['i', 'from', 'india']

In [71]:
#join functions : The join Function will be joins the small pieces
a=['i', 'from', 'india']
print('-'.join(a))

i-from-india

In [72]:
#join functions : The join Function will be joins the small pieces
a='i', 'from', 'india'
print('->'.join(a))

i->from->india

# **List**


---
- `Is going to represent with the square brackets([])`
- `we can write any datatype in the list concept`
- `The list immutable but we use the built in functions we can convert the mutable`

In [29]:
a=[10,"data",12.55,False]
print(a)

[10, 'data', 12.55, False]

In [30]:
print(a[2])

12.55

In [32]:
print(a[1][2])

t

In [33]:
print(a[1])

data

In [35]:
dir(list)
print(len(dir(list)))

48

In [36]:
#Increasing  functions
#append : The append Function will be add the value at the end
a=[10,'data',12.55,False]
a.append('Science')
print(a)

[10, 'data', 12.55, False, 'Science']

In [37]:
#insert : The insert Function will be add the value at the given index value
a=[10,'data',12.55,False]
a.insert(2,'Science')
print(a)

[10, 'data', 'Science', 12.55, False]

In [38]:
#extend : The extend Function will be add the value at the end and multiple values can be added
a=[10,'data',12.55,False]
a.extend([10,20,30,40])
print(a)

[10, 'data', 12.55, False, 10, 20, 30, 40]

In [39]:
#Decresing Functions

#pop : The pop Function will be remove the value at the end
a=[10,'data',12.55,False]
a.pop()
print(a)

[10, 'data', 12.55]

In [40]:
#remove : The remove Function will be remove the value at the user given
a=[10,'data',12.55,False]
a.remove('data')
print(a)

[10, 12.55, False]

In [42]:
#Specefic  Functions

#count : The count Function will be count the value
a=[10,20,30,40,10,20]

print(a.count(20))

2

In [44]:
#index : The index Function will be give the value to the user given
a=[10,'data',12.55,False]
print(a.index('data'))

1

In [51]:
#reverse : The reverse Function will be give the reverse the list
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [52]:
#sort : The sort Function will be give the ascending order
a=[10,60,70,40,50]
a.sort()
print(a)

[10, 40, 50, 60, 70]

In [53]:
#sort : The sort Function will be give the decending order
a=[10,60,70,40,50]
a.sort(reverse=True)
print(a)

[70, 60, 50, 40, 10]

In [55]:
#clear : The clear Function will be give the empty list
a=[10,60,70,40,50]

a.clear()
print(a)

[]

In [56]:
#copy : Copy 1.Deep copy
a=[10,60,70,40,50]
b=a
print(a)
print(b)

print(id(a))
print(id(b))

a.append(80)

print(a)
print(b)

[10, 60, 70, 40, 50]
[10, 60, 70, 40, 50]
139115072134400
139115072134400
[10, 60, 70, 40, 50, 80]
[10, 60, 70, 40, 50, 80]

In [57]:
#copy : Copy 2.Shallow copy
a=[10,60,70,40,50]
b=a.copy()
print(a)
print(b)

print(id(a))
print(id(b))

a.append(80)

print(a)
print(b)

[10, 60, 70, 40, 50]
[10, 60, 70, 40, 50]
139115072127872
139115072137088
[10, 60, 70, 40, 50, 80]
[10, 60, 70, 40, 50]

# **Tuple**
- `Python Tuple is going to represent with - ()`
- `Python Tuple can accept any datatype`
- `Tuple is  immutable `

In [58]:
a=(10,20,30,40,50)
a[6]=80
print(a)

TypeError: 'tuple' object does not support item assignment

In [59]:
del a[1]
print(a)

TypeError: 'tuple' object doesn't support item deletion



> `The Above Operations we can say that python Tuple is immutable.`

**Built-in Functions**

- `In tuple we have only the 2 Built-in-Functions`
1. Count
2. index

In [60]:
#Count : The count will be count the value how many times in the tuple
a=(10,20,30,40,50,20)
print(a.count(20))

2

In [61]:
#index : The index will be give the index value
a=(10,20,30,40,50,20)
print(a.index(20))

1

**Tuple can hold multiple inputs for a single variable**

In [62]:
#Packing the variables
details=('john',25,1500)
name,age,salary=details #unpacking the variables
print(name)
print(age)
print(salary)

john
25
1500

# **Set**

- `The set function will be represent the with { } Flower Brackets`
- `The set is unorder pair when the allocating the memory That's why no index concept`
- ` if there is no indexing we cann't do the slicing , skipping concept`
- `Python set won't allow the Duplicate values`
- `python set is mutable but it don't allow mutable inside it`
- `Integer and float is the universal values`

In [73]:
#incresing Functions
# add Function : these will be add the single values
a={10,20,30,40}
a.add(50)
print(a)

{40, 10, 50, 20, 30}

In [78]:

# update Function : these will be add the multiple  values using the []
a={10,20,30,40}
a.update([70,50])
print(a)

{70, 40, 10, 50, 20, 30}

In [79]:
#decresing Functions
# pop Function : these will be remove the value pick the randomly
a={10,20,30,40}
a.pop()
print(a)

{10, 20, 30}

In [80]:
# remove Function : these will be remove the value by the user given value
a={10,20,30,40}
a.remove(20)
print(a)

{40, 10, 30}

In [81]:
#some Other Functions
#copy: 1 Deep copy
a={10,20,30,40}
b=a
print(a)
print(b)

print(id(a))
print(id(b))

a.add(70)

print(a)
print(b)

{40, 10, 20, 30}
{40, 10, 20, 30}
139115493740320
139115493740320
{70, 40, 10, 20, 30}
{70, 40, 10, 20, 30}

In [83]:
#some Other Functions
#copy: 1 Shallow copy
a={10,20,30,40}
b=a.copy()
print(a)
print(b)

print(id(a))
print(id(b))

a.add(70)

print(a)
print(b)

{40, 10, 20, 30}
{40, 10, 20, 30}
139115062175648
139115062174304
{70, 40, 10, 20, 30}
{40, 10, 20, 30}

In [84]:
#Clear Function : The Clear Function remove the values give the empty set
#The Empty set will be represent the set()
a={10,20,30,40}
a.clear()
print(a)

set()

In [85]:
#Union : The union function will give the duplicate values once
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [86]:
#intersection : The intersection function will give the doth sets intersect values once
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
print(a.intersection(b))

{5, 6}

# **Dictionary**

---
- `Dictionary is represented the {} will be contains the Key Value and pair concept`
- `key means - Column values`
- `value means - data inside the column`
- `In the dict concept we don't have the index concept - since there is no index concept there will be no slicing and no skipping`
- ` The same key columns the values will be override the values`
- `In place of Values we can pass anything(any datatype)`

In [87]:
a={'name':'john','age':20,'salary':1200}
print(a)

{'name': 'john', 'age': 20, 'salary': 1200}

In [88]:
#multiple values
a={'name':['john','petter','michal'],'age':[10,20,30],'salary':[1200,1500,1600]}
print(a)

{'name': ['john', 'petter', 'michal'], 'age': [10, 20, 30], 'salary': [1200, 1500, 1600]}

In [91]:
#Table representation - import pandas
import pandas as pd
pd.DataFrame(a)

     name  age  salary
0    john   10    1200
1  petter   20    1500
2  michal   30    1600

In [97]:
print(a['age'][1])

20

In [98]:
# trying the increase the memory
fruits = {'apple':100,'banana':200,'carraot':300}
fruits['graphes']=500
print(fruits)

{'apple': 100, 'banana': 200, 'carraot': 300, 'graphes': 500}

In [99]:
#Tring to decrese the momory
fruits = {'apple':100,'banana':200,'carraot':300}
del fruits['carraot']
print(fruits)

{'apple': 100, 'banana': 200}

**The above Operations we can say the dictionary is mutable**


---

### **Built_in-functions**

In [101]:
dir(dict)
print(len(dir(dict)))

46

In [104]:
#get : The get Function will give the column value
fruits={'apple':100,'banana':200,'carraot':300}
print(fruits.get('banana'))

200

In [106]:
#update : The update  Function will give the add key and value
fruits={'apple':100,'banana':200,'carraot':300}
fruits.update({'graphes':500})
print(fruits)

{'apple': 100, 'banana': 200, 'carraot': 300, 'graphes': 500}

In [108]:
#pop : The pop  Function will remove the key and value user givened
fruits={'apple':100,'banana':200,'carraot':300}
fruits.pop('banana')
print(fruits)

{'apple': 100, 'carraot': 300}

In [109]:
#popitem : The popitem  Function will remove the last key and value user givened
fruits={'apple':100,'banana':200,'carraot':300}
fruits.popitem()
print(fruits)

{'apple': 100, 'banana': 200}

In [111]:
#values : The values  Function will give the vlaues of the keys
fruits={'apple':100,'banana':200,'carraot':300}
print(fruits.values())

dict_values([100, 200, 300])

In [113]:
#keys : The keys  Function will give the  keys
fruits={'apple':100,'banana':200,'carraot':300}
print(fruits.keys())

dict_keys(['apple', 'banana', 'carraot'])

In [114]:
#items : The items  Function will give the  both keys and values
fruits={'apple':100,'banana':200,'carraot':300}
print(fruits.items())

dict_items([('apple', 100), ('banana', 200), ('carraot', 300)])

In [116]:
#clear : The clear  Function will clear the pair and give the empty dict
fruits={'apple':100,'banana':200,'carraot':300}
fruits.clear()
print(fruits)

{}